/* General styles */
.nav--ubax {
  position: relative;
  width: 8em;
  margin-bottom: 50px;
}

.nav__item {
  line-height: 1;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  color: currentColor;
  border: 0;
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav__item:focus {
  outline: none;
}

/*** Ubax ***/

.nav--ubax .nav__item {
  width: 1.5em;
  height: 1.5em;
}

.nav--ubax .nav__item::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid transparent;
  background: #ddddda;
}

.nav--ubax .nav__item--current::after {
  z-index: 10;
  border-color: $theme-primary;
  background: #e9eae5;
  -webkit-transform: scale3d(1.5, 1.5, 1);
  transform: scale3d(1.5, 1.5, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s,
    border-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
}

.nav--ubax .nav__item:not(.nav__item--current):focus::after,
.nav--ubax .nav__item:not(.nav__item--current):hover::after {
  background: $theme-primary;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

.nav--ubax .nav__item-title {
  color: $theme-primary;
  font-size: 15px;
  @media (min-width: 768px) and (max-width: 1099px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 23px;
  }
  font-weight: 700;
  line-height: 10px;
  display: block;
  padding: 0 0 0 2.5em;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.nav--ubax .nav__item:not(.nav__item--current):focus .nav__item-title,
.nav--ubax .nav__item:not(.nav__item--current):hover .nav__item-title {
  opacity: 0.25;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.nav--ubax .nav__item--current .nav__item-title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
