// Styling for the masthead
header.masthead {
  position: relative;

  .color-block-3 .overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: #5d9def36;
  }
  width: 100%;

  color: white;
  // background: $theme-secondary;
  background: url("../img/tbp-bg-02.jpg"), $theme-secondary;
  background: url("../img/tbp-bg-02.jpg"),
    -webkit-linear-gradient(to left, $theme-secondary, $theme-secondary);
  background: url("../img/tbp-bg-02.jpg"),
    linear-gradient(to left, $theme-secondary, $theme-secondary);
  background-size: contain;

  .h-fill {
    height: calc(100% - 166px);
  }

  .header-content {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 20px;
    text-align: left;
    h1 {
      max-width: 750px;
      font-size: 30px;
      line-height: 1.5;
    }
  }
  .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
    .screen img {
      border-radius: 3px;
    }
  }
  .text-baseline {
    position: absolute;
    top: 12px;
    width: 90%;
    height: 4px;
    background: white;
  }
  .header-text {
    margin-bottom: 1.5rem;
    a {
      font-weight: 700;
    }
  }
  .header-text p {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.5;
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    padding-top: 0px;
    padding-bottom: 100px;
    .header-content {
      margin-bottom: 0;

      text-align: left;
      h1 {
        font-size: 50px;
        line-height: 1.25;
        letter-spacing: 2px;
      }
    }
    .device-container {
      max-width: 325px;
    }
    .header-content {
      width: 100%;
      margin-top: 120px;
    }
  }
}
